@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.nav{
    /* height: 80px; */
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: #f7980a;
    padding: 0 100px;
    line-height: 60px;
    /* font-family: 'Edu SA Beginner', cursive; */
    font-family: 'Raleway', sans-serif;
}
.nav ul{
    float: right;
    margin-right: 40px;
}
.nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 60px;
    font-family: 'Edu SA Beginner', cursive;
}
.nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    /* transition: .5s; */
}
a.active,a:hover{
    transition: .5s;
    border: 1px solid white;
    color: #f7980a;
}
.nav #icon{
    color: #f7980a;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display:none;
    margin-top: -10px;
}
.hw{
    color: orange;
}
@media(max-width:1048px){
    label.logo{
        font-size: 32px;
        padding-left: 25px;
    }
    .nav ul{
        margin-right: 50px;
       
    }
    .nav a{
        font-size: 17px;
    }

}
@media (max-width:909px) {
    .nav #icon{
        display: block;
    }
    .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 61px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    .nav a{
        font-size: 20px;
        font-weight: bold;
    }
    a.active,a:hover{
        border: none;
        
        color: #FFBD31;
        
    }
    .nav ul.show{
        left: 0;
        padding-top: 10%;
        margin-left: -50px;
    }

    
}


.buttons2{
    font-family: 'Abel', sans-serif;
    display: flex;
    /* flex-direction: column; */
    margin-left: 39.5%;
    margin-top: 0.6%;
}

.forcast {
    padding-bottom: 2%;
    text-align: center;
    height: 5vh;
    /* background-image: linear-gradient(to right, #FDFC47,#24FE41); */
    background-image: linear-gradient(to right,#06beb6,#48b1bf);
    color: white;
    width: 18vw;
    border-radius: 5px;
}
.forcast a{
    background-image: linear-gradient(to right, #FDFC47,#24FE41);
    /* background-image: linear-gradient(to right,#06beb6,#48b1bf); */
}
.sound{
    border-radius: 5px;
    /* background-color: #00F260; */
    background-color:#48b1bf;
    margin-left: 1.5%;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}
@media (max-width:450px) and (min-width:390px){
    .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 61px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .buttons2{
        margin-top: 10px;
    }
    .forcast{
        width: 210px;
        margin-left: -103px;
    }
    .sound{
        padding-top: 15px;
        padding-left: 20px;
        width:55px;
        margin-left: 10px;
    }
    .container{
        margin-left: 500px;
    }
}

@media( max-width:390px ) and  (min-width:380px){
    .buttons2{
        margin-top: 10px;
        margin-left: 158px;
    }
    .forcast{
        width: 210px;
        margin-left: -103px;
    }
    .sound{
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 5px;
        width:40px;
        margin-left: 15px;
    }
}

@media(max-width:380px) and (min-width:360px){
    .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 61px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .buttons2{
        margin-top: 10px;
    }
    .forcast{
        width: 210px;
        margin-left: -103px;
    }
    .sound{
        padding-top: 15px;
        padding-left: 20px;
        width:55px;
        margin-left: 10px;
    }
}

@media(max-width:360px) and (min-width:300px){
    .nav ul{
        position: fixed;
        width: 120%;
        height: 100vh;
        background: grey;
        top: 61px;
        left: -150%;
        text-align: center;
        transition: all .5s;
    }
    .buttons2{
        margin-top: 10px;
        margin-left: 155px;
    }
    .forcast{
        width: 190px;
        margin-left: -103px;
    }
    .sound{
        padding-top: 12px;
        padding-left: 15px;
        width:45px;
        margin-left: 10px;
        
    }
}

.loading1{
    font-family: 'Abel', sans-serif;
    height: 7vh;
    background-image: linear-gradient(to right,#06beb6,#48b1bf);
    box-shadow: -2px -8px 55px #06beb6, 5px 8px 55px #48b1bf;
    width: 30%;
    margin-left: 36%;
    text-align: center;
    margin-top: 10%;
    padding-top: 1%;
    font-size: 25px;
    border-radius: 15px;
    color: white;
}


/* --------------------------------------------------------------navbar */
.navbar{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    margin-top: -2%;
    background-color: rgba(0, 0, 0, .25);
    height: 9vh;
    padding-top: 0;
    color: white;
    cursor: pointer;
}
.items{
    display: flex;
}

.items1{
    padding-left: 0.6%;
    display: flex;
}
.instruction{
    margin-top: -2%;
    height: 8%;
    text-align: center;
    font-size: 3vw;
}
img{
    padding-top: 16%;
}
.i{
    margin-left: 10px;
    margin-right: 10px;
    
}
.i:hover{
    color: #1cefff;
    opacity:.7;
    transform: scale(1.05);
}
body{
    margin: 0;
    padding: 0;
    
    /* background-image: linear-gradient(to bottom right, 
    
#360033,#0b8793); */
    
    
background-image: linear-gradient(to bottom right, 
    
#050B2B,#0b8793);
    background-size:contain;
    background-repeat: no-repeat;
    height: 120vh;
    
    
    /* overscroll-behavior: contain; */
}
.heading{
   
    font-family: 'Noto Sans', sans-serif;
    padding: -15%;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 2%;
}
.sunWithClouds{
   margin-top: -18%;
   padding-bottom: -2%;
}

h1{
    color: black;
    
    padding-top: 2%;
}
.container{
    
    margin-top: 5%;
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-items:center;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15%;
}
.firstcard{
    padding-top: 5%;
    height: 40%;
    width: 25%;
    text-align: center;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .25);
    padding-bottom: 5%;
    opacity: 2;
    color: white;
    border-radius: 10px;
    transition-timing-function: ease;
    transition-duration: 1.1s;
    display: none;
}
.firstcard:hover{
    background-image: linear-gradient(to bottom right, #c0c0aa, #1cefff);
    color: black;
    transform: scale(1.05);
    box-shadow: 5px 10px 18px #171717;
}

/* #FE5A1D */
.dateandtime{
    color: white;
}
.secondcard{
    padding-top: 5%;
    padding-left: 2%;
    height: 26vh;
    width: 25%;
    text-align: left;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .25);
    opacity: 2;
    color: white;
    padding-bottom: 5%;
    border-radius: 10px;
    transition-timing-function: ease;
    transition-duration: 1.1s;
    display: none;
}
.secondcard:hover{
    background-image: linear-gradient(to bottom right, #c0c0aa, #1cefff);
    color: black;
    transform: scale(1.05);
    box-shadow: 5px 10px 18px #171717;
}
.subdiv{
    margin: 0;
}
.humidity1{
    display: flex;
}
#p{
    /* padding-top: -15%; */
    margin-top: -55px;
    margin-right: 2px;
}
.temparature{
    display: flex;
    margin-bottom: 0px;
}
#temp{
    margin-right: 3%;
    padding-top: 2px;
    padding-bottom: 50px;
    color: black;
}
.temp{
    color: white;
    margin-bottom: 0px;
    margin-top: -60px;
    padding-bottom: 10px;
}
.humidity{
    padding-top: -18%;
    height: 10px;
}

.subdiv{
    
    margin-top: 2%;
}
.cloud1{
    padding-top: -15%;
    display: flex;
}
#cloud{
    margin-top: 26px;
    margin-right: 10px;
    padding-top: 8.5%;
    width: 1.5vw;
    padding-bottom: 50px;
}
.cloud{
    margin-top: 50px;
}
.wind{
    margin-top: -25px;
    display: flex;
}
#wind{
    margin-right: 3%;
    padding-top: 8.5%;
    margin-top: -22px;
}
.feel1{
    margin-top: -5%;
    display: flex;
    margin-bottom: -9%;
}
#feel{
    margin-top: 4px;
    margin-right: 3%;
    padding-bottom: 50px;
}
.weather{
    margin-top: -10%;
    margin-bottom: -8%;
}
.weatherdes{
    color:  white;
    margin-top: 10px;
}
span{
    color: black;
    font-size: 1.5vw !important;
}
.clock{
    margin: 2%;
}

.p{
    font-size: 4vw;
}
.load{
    background: #191919  ;
    background-size: 40%;
    opacity: 2;
    height: 100vh;
    width: 100%;
    
    
    
}
.lo{
    width:50vw;
    margin-left: 30%;
    margin-top: -10%;
    margin-left:25%;
}
.surch{
    
    padding-top: 1%;
    text-align: center;
    /* font-size: 1vw; */
    
}

.surch{
    margin-left: 39vw;
    display: flex;
    flex-direction: column;
    margin-top: -1%;
    /* font-size: 50vw; */
    /* margin-top: -6%; */
}
#myInput{
    /* border: 2px solid black; */
    /* font-size: 1.24vw; */
    font-size: 2vw;
    background-color: #50514f;
    color: #FE5A1D;
    /* opacity: 0.4; */
    border-radius: 6px;
    border: 0px;
    width: 21vw;
    height: 7vh;
    padding-left: 2%;
    margin-left: 2px;
}
button{
    border: 0;
    border-radius: 5px;
    margin-top: 1%;
    cursor: pointer;
    /* background-color: #ffffff; */
    /* border-radius: 5px; */
    font-size: 2vw;
    height: 6vh;
    width: 22.3vw;
    margin-left: 0.1vw;
    /* background-image: linear-gradient(to right, #FDFC47,#24FE41); */
    background-image: linear-gradient(to right,#06beb6,#48b1bf);
    color: white;
    /* border: 1px solid blue; */
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}



@media(max-width:650px){

    body{
        background-image: linear-gradient(to bottom right, 
    
        #360033,#0b8793);
        
        height: 125.5vh;
        /* height: 180vh; */
        width: 100vw;
    }
    .container{
        align-items: center;
        margin-top: -20%;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
    
    .loading1{
        font-weight: bold;
        font-family: 'Abel', sans-serif;
        display: none;
        border-radius: 10px;
        display: none;
        background-image: linear-gradient(to bottom, #00F260,#0575E6);
        
        font-size: 5vw;
        margin-top: 40%;
        /* padding-top: 1%; */
        text-align: center;
        margin-left: 10%;
        color:black;
        /* width: 80vw;
        height: 15vh; */
        /* box-shadow: 2px 2px 20px black; */


        
    }

    .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 61px;
        left: -150%;
        text-align: center;
        transition: all .5s;
    }
    
    .loading1{
        padding-top: 25px;
        font-weight: bold;
        font-family: 'Abel', sans-serif;
        background-image: linear-gradient(to bottom, #00F260,#0575E6);
        text-align: center;
        position: relative;
         width: 80vw;
        height: 7vh; 
        display: flex;
        justify-content: center;
        
        
    }
    .loadtext{
        font-weight: bold;
        font-family: 'Abel', sans-serif;
        
        text-align: center;
        margin-left: 3%;
        position: fixed;
        /* padding-top: -80px; */
        padding-bottom: 12%;
        font-size: 5vw;

    }
    .loading1:after{
        padding-top: 3px;
        width: 80vw;
        height: 8vh; 
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #fff;
        z-index: -2;
        filter: blur(40px);
    }
    .loading1:after{
        background: linear-gradient(235deg,#a80077,#060c21,#66ff00);
        padding-top: 35px;
        width: 80vw;
        height: 8vh; 
    }
    
    .firstcard{
        margin-top: 25%;
        font-size: 4.5vw;
        height: 15vh;
        width: 70vw;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    .firstcard:hover{
        background-image: linear-gradient(to bottom right, #f12711, #f5af19);
        color: black;
        transform: scale(1.05);
        box-shadow: 5px 10px 18px #171717;
    }
    .secondcard{
        /* padding-left: 5%; */
        margin-top: 5%;
        /* padding-top: 15%; */
        font-size: 4.5vw;
        height: 26vh;
        width: 66vw;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        /* margin-bottom: 100%; */
    }
    .secondcard:hover{
        background-image: linear-gradient(to bottom right, #f12711, #f5af19);
        color: black;
        transform: scale(1.05);
        box-shadow: 5px 10px 18px #171717;
    }
    
    .temp{
        margin-top: 1%;
        color: white;
        font-weight: bold;
    }
    .humidity{
        margin-top: 1%;
          
    }
    .feel{
        margin-top: 15%;
    }
    .weatherdes{
        margin-top: 15%;
        color: white;
        font-weight: bold;
    }
    .cloud{
        margin-top: 15%;
        
    }
    .windspeed{
        margin-top: 15%;
    }
    .material-icons{
        display: none;
    }
    .heading{
        height: 18%;
        width:100vw;
        color:grey;
        margin-top: 2%;
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        margin-left: 1%;
        margin-bottom: 2%;
    }
    .sunWithClouds{
        width: 30vw;
        margin-left: 35%;
        margin-top: -18%;
        
    }
    .instruction{
        font-family: 'Inconsolata', monospace;
        font-size: 4.5vw;
        text-align: center;
        margin-top: -5%;
    }
    
    .load{
        background-color: black;
        
        background-size: cover;
        opacity: 2;
        
        
        
        
    }
    .lo{
        height: 35vh;
        width: 105vw;
        margin-left: -3%;
        margin-top: 40%;
    }
    #myInput{
        background-color: rgba(54, 199, 38, 0.25);
        color: #FE5A1D;
        padding-left: 5%;
        margin-left: -4vw;
        width: 70vw;
        font-size: 7vw;
        margin-bottom: 2%;
        
    }
    .surch{
        
        margin-left: 18vw;
        margin-right: 5vw;
        margin-top: -18%;
    }
    .button{
        margin-top: 3px;
        /* background-image: linear-gradient(to right, #fe8c00,#f83600); */
        background-image: linear-gradient(to right, #FDFC47,#24FE41);
        /* background-color:  #f5af19; */
        width: 95%;
        font-size: 6vw;
        margin-left: -5%;
        box-shadow: 2px 2px 3px green;
    }
    
    
    .navbar{
        padding-top: -5%;
        padding-bottom: 6%;
        height: 4vh;
        font-size: 5vw;
    }
    .i{
        margin-right: 3px;
    }
    .sunWith{
        display: none;
    }
    .item1{
        display: flex;
        flex-direction: column;
    }
    .pic{
        background-image: url("logo.png");
        height: 50px;
    }
    .items{
        display: none;
    }
    .menu{
        padding-top: 2%;
        padding-right: 2%;
    }
}












